In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset['charges']
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [8]:
# here sklearn library used to split train and test model
from sklearn.model_selection import train_test_split
#train_test_split function
X_train,X_test,Y_train,Y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [10]:
#learning phase
#linear regression
from sklearn.linear_model import LinearRegression
#create variable for linear regression
regressor=LinearRegression()
regressor=regressor.fit(X_train,Y_train)

In [12]:
#to calculate weight
weight=regressor.coef_
weight

array([  257.8006705 ,   321.06004271,   469.58113407,   -41.74825718,
       23418.6671912 ])

In [14]:
#to calculate bias
bias=regressor.intercept_
bias

-12057.244845998523

In [15]:
y_pred=regressor.predict(X_test)

In [16]:
from sklearn.metrics import r2_score
#to find r2_score,we take actual output and predictor.
r_score=r2_score(Y_test,y_pred)

In [17]:
r_score

0.7894790349867009

In [22]:
#pickle is used to save model creation
import pickle
#creating filename using extension.sav
filename="finalized_model_multiplelinear.sav"

In [23]:
pickle.dump(regressor,open(filename,"wb"))

In [24]:
#load the model and rb is used for just read 
loaded_model=pickle.load(open("finalized_model_multiplelinear.sav","rb"))
#we check it and for prediction we can do it
result=loaded_model.predict([[1234,345,4565,567,894]])

In [25]:
result

array([23473089.5814205])